/*Etiquetas*/
h1{
    color: red;
}
/*Estoy probando colores y fuentes*/
p {
    color: blue;
    font-size: 20pt;
}
/*id*/
#primera_noticia {
    color: green;
    font-size: 12pt;
}

#segunda_noticia {
    color: darkmagenta;
}
/*Clases*/
.encabezado {
    font-size: 24pt;
    text-transform: uppercase;
}
/*Se le aplica a todos los elementos que no hayan sido
modificados antes*/
*.warning{
    color: red;
}

.autor, .fecha, .ubicacion, h1, #segunda_noticia {
    text-decoration: underline;
}
